<div class="container-fluid">
    <img class="slides img-fluid" src="/assets/img/original/bigbluebox.jpg">
	<div class="row primaryUnderSlide">
        <div class="row center">
            <h1>The Fair Credit Reporting Act (FCRA)</h1>
            <h3>15 U.S.C. § 1681</h3>
        </div>
    </div>
	<div class="product row primaryUnderSlide">
		<div class="row left">
			<button type="button" class="building btn btn-info btn-default btn-lg btn-block" data-toggle="collapse" data-target="#content">§ 601 Short title</button>
			<div id="content" class="collapse">
				<p class="answer">This title may be cited as the ‘Fair Credit Reporting Act’.</p>
			</div>
		</div>
		<div class="row left">
			<button type="button" class="building btn btn-info btn-default btn-lg btn-block" data-toggle="collapse" data-target="#content1">§ 602 Congressional findings and statement of purpose</button>
			<div id="content1" class="collapse">
				<p class="answer">(a) Accuracy and fairness of credit reporting. The Congress makes the following findings:</p>
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">The banking system is dependent upon fair and accurate credit reporting. Inaccurate credit reports directly impair the efficiency of the banking system, and unfair credit reporting methods undermine the public confidence which is essential to the continued functioning of the banking system.</p></li>
					<li class="product compliantgroupitem"><p class="servText">An elaborate mechanism has been developed for investigating and evaluating the credit worthiness, credit standing, credit capacity, character, and general reputation of consumers.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Consumer reporting agencies have assumed a vital role in assembling and evaluating consumer credit and other information on consumers.</p></li>
					<li class="product compliantgroupitem"><p class="servText">There is a need to insure that consumer reporting agencies exercise their grave responsibilities with fairness, impartiality, and a respect for the consumer's right to privacy.</p></li>
				</ul>
				<p class="answer">(b) Reasonable procedures. It is the purpose of this title to require that consumer reporting agencies adopt reasonable procedures for meeting the needs of commerce for consumer credit, personnel, insurance, and other information in a manner which is fair and equitable to the consumer, with regard to the confidentiality, accuracy, relevancy, and proper utilization of such information in accordance with the requirements of this title.</p>
			</div>
		</div>
		<div class="row left">
			<button type="button" class="building btn btn-info btn-default btn-lg btn-block" data-toggle="collapse" data-target="#content2">§ 603 Definitions; rules of construction</button>
			<div id="content2" class="collapse">
				<p class="answer">(a) Definitions and rules of construction set forth in this section are applicable for the purposes of this title.</p>
				<p class="answer">(b) The term "person" means any individual, partnership, corporation, trust, estate, cooperative, association, government or governmental subdivision or agency, or other entity.</p>
				<p class="answer">(c) The term "consumer" means an individual.</p>
				<p class="answer">(d) Consumer report.</p>
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">(1) In general. Except as provided in paragraph (3), the term "consumer report" means any written, oral, or other communication of any information by a consumer reporting agency bearing on a consumer's credit worthiness, credit standing, credit capacity, character, general reputation, personal characteristics, or mode of living which is used or expected to be used or collected in whole or in part for the purpose of serving as a factor in establishing the consumer's eligibility for</p>
						<ul class="product compliantgroup">
							<li class="product compliantgroupitem"><p class="servText">(A) credit or insurance to be used primarily for personal, family, or household purposes;</p></li>
							<li class="product compliantgroupitem"><p class="servText">(B) employment purposes; or</p></li>
							<li class="product compliantgroupitem"><p class="servText">(C) any other purpose authorized under section 604 [§ 1681b].</p></li>
						</ul>
					</li>
					<li class="product compliantgroupitem"><p class="servText">(2) Exclusions. The term "consumer report" does not include</p>
						<ul class="product compliantgroup">
							<li class="product compliantgroupitem"><p class="servText">(A) subject to section 624, any</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) report containing information solely as to transactions or experiences between the consumer and the person making the report;</p></li>
									<li class="product compliantgroupitem"><p class="servText">(ii) communication of that information among persons related by common ownership or affiliated by corporate control; or</p></li>
									<li class="product compliantgroupitem"><p class="servText">(iii) communication of other information among persons related by common ownership or affiliated by corporate control, if it is clearly and conspicuously disclosed to the consumer that the information may be communicated among such persons and the consumer is given the opportunity, before the time that the information is initially communicated, to direct that such information not be communicated among such persons;</p></li>
								</ul>
							</li>
							<li class="product compliantgroupitem"><p class="servText">(B) any authorization or approval of a specific extension of credit directly or indirectly by the issuer of a credit card or similar device;</p></li>
							<li class="product compliantgroupitem"><p class="servText">(C) any report in which a person who has been requested by a third party to make a specific extension of credit directly or indirectly to a consumer conveys his or her decision with respect to such request, if the third party advises the consumer of the name and address of the person to whom the request was made, and such person makes the disclosures to the consumer required under section 615 [§ 1681m]; or</p></li>
							<li class="product compliantgroupitem"><p class="servText">(D) a communication described in subsection (o) or (x).</p></li>
						</ul>
					</li>
					<li class="product compliantgroupitem"><p class="servText">(3) RESTRICTION ON SHARING OF MEDICAL INFORMATION- Except for information or any communication of information disclosed as provided in section 604(g)(3), the exclusions in paragraph (2) shall not apply with respect to information disclosed to any person related by common ownership or affiliated by corporate control, if the information is--</p>
						<ul class="product compliantgroup">
							<li class="product compliantgroupitem"><p class="servText">(A) medical information;</p></li>
							<li class="product compliantgroupitem"><p class="servText">(B) an individualized list or description based on the payment transactions of the consumer for medical products or services; or</p></li>
							<li class="product compliantgroupitem"><p class="servText">(C) an aggregate list of identified consumers based on payment transactions for medical products or services.</p></li>
						</ul>
					</li>
				</ul>
				<p class="answer">(e) The term "investigative consumer report" means a consumer report or portion thereof in which information on a consumer's character, general reputation, personal characteristics, or mode of living is obtained through personal interviews with neighbors, friends, or associates of the consumer reported on or with others with whom he is acquainted or who may have knowledge concerning any such items of information. However, such information shall not include specific factual information on a consumer's credit record obtained directly from a creditor of the consumer or from a consumer reporting agency when such information was obtained directly from a creditor of the consumer or from the consumer.</p>
				<p class="answer">(f) The term "consumer reporting agency" means any person which, for monetary fees, dues, or on a cooperative nonprofit basis, regularly engages in whole or in part in the practice of assembling or evaluating consumer credit information or other information on consumers for the purpose of furnishing consumer reports to third parties, and which uses any means or facility of interstate commerce for the purpose of preparing or furnishing consumer reports.</p>
				<p class="answer">(g) The term "file," when used in connection with information on any consumer, means all of the information on that consumer recorded and retained by a consumer reporting agency regardless of how the information is stored.</p>
				<p class="answer">(h) The term "employment purposes" when used in connection with a consumer report means a report used for the purpose of evaluating a consumer for employment, promotion, reassignment or retention as an employee.</p>
				<p class="answer">(i) MEDICAL INFORMATION- The term 'medical information'--</p>
				<ul class="product compliantgroup">
						<li class="product compliantgroupitem"><p class="servText">(1) means information or data, whether oral or recorded, in any form or medium, created by or derived from a health care provider or the consumer, that relates to--</p>
							<ul class="product compliantgroup">
								<li class="product compliantgroupitem"><p class="servText">(A) the past, present, or future physical, mental, or behavioral health or condition of an individual;</p></li>
								<li class="product compliantgroupitem"><p class="servText">(B) the provision of health care to an individual; or</p></li>
								<li class="product compliantgroupitem"><p class="servText">(C) the payment for the provision of health care to an individual.</p></li>
							</ul>
						</li>
						<li class="product compliantgroupitem"><p class="servText">(2) does not include the age or gender of a consumer, demographic information about the consumer, including a consumer's residence address or e-mail address, or any other information about a consumer that does not relate to the physical, mental, or behavioral health or condition of a consumer, including the existence or value of any insurance policy.</p></li>
				</ul>
				<p class="answer">(j) Definitions relating to child support obligations.</p>
				<ul class="product compliantgroup">
						<li class="product compliantgroupitem"><p class="servText">(1) Overdue support. The term "overdue support" has the meaning given to such term in section 666(e) of title 42 [Social Security Act, 42 U.S.C. § 666(e)].</p></li>
						<li class="product compliantgroupitem"><p class="servText">(2) State or local child support enforcement agency. The term "State or local child support enforcement agency" means a State or local agency which administers a State or local program for establishing and enforcing child support obligations.</p></li>
				</ul>
				<p class="answer">(k) Adverse action.</p>
				<ul class="product compliantgroup">
						<li class="product compliantgroupitem"><p class="servText">(1) Actions included. The term "adverse action"</p>
							<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(A) has the same meaning as in section 701(d)(6) of the Equal Credit Opportunity Act; and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(B) means</p>
										<ul class="product compliantgroup">
												<li class="product compliantgroupitem"><p class="servText">(i) a denial or cancellation of, an increase in any charge for, or a reduction or other adverse or unfavorable change in the terms of coverage or amount of, any insurance, existing or applied for, in connection with the underwriting of insurance;</p></li>
												<li class="product compliantgroupitem"><p class="servText">(ii) a denial of employment or any other decision for employment purposes that adversely affects any current or prospective employee;</p></li>
												<li class="product compliantgroupitem"><p class="servText">(iii) a denial or cancellation of, an increase in any charge for, or any other adverse or unfavorable change in the terms of, any license or benefit described in section 604(a)(3)(D) [§ 1681b]; and</p></li>
												<li class="product compliantgroupitem"><p class="servText">(iv) an action taken or determination that is</p>
													<ul class="product compliantgroup">
															<li class="product compliantgroupitem"><p class="servText">(I) made in connection with an application that was made by, or a transaction that was initiated by, any consumer, or in connection with a review of an account under section 604(a)(3)(F)(ii)[§ 1681b]; and</p></li>
															<li class="product compliantgroupitem"><p class="servText">(II) adverse to the interests of the consumer.</p></li>
													</ul>
												</li>
										</ul>
									</li>
							</ul>							
						</li>
						<li class="product compliantgroupitem"><p class="servText">(2) Applicable findings, decisions, commentary, and orders. For purposes of any determination of whether an action is an adverse action under paragraph (1)(A), all appropriate final findings, decisions, commentary, and orders issued under section 701(d)(6) of the Equal Credit Opportunity Act by the Board of Governors of the Federal Reserve System or any court shall apply.</p></li>
				</ul>
				<p class="answer">(l) Firm offer of credit or insurance. The term "firm offer of credit or insurance" means any offer of credit or insurance to a consumer that will be honored if the consumer is determined, based on information in a consumer report on the consumer, to meet the specific criteria used to select the consumer for the offer, except that the offer may be further conditioned on one or more of the following:</p>
				<ul class="product compliantgroup">
						<li class="product compliantgroupitem"><p class="servText">(1) The consumer being determined, based on information in the consumer's application for the credit or insurance, to meet specific criteria bearing on credit worthiness or insurability, as applicable, that are established</p>
							<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(A) before selection of the consumer for the offer; and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(B) for the purpose of determining whether to extend credit or insurance pursuant to the offer.</p></li>
							</ul>							
						</li>
						<li class="product compliantgroupitem"><p class="servText">(2) Verification</p>
							<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(A) that the consumer continues to meet the specific criteria used to select the consumer for the offer, by using information in a consumer report on the consumer, information in the consumer's application for the credit or insurance, or other information bearing on the credit worthiness or insurability of the consumer; or</p></li>
									<li class="product compliantgroupitem"><p class="servText">(B) of the information in the consumer's application for the credit or insurance, to determine that the consumer meets the specific criteria bearing on credit worthiness or insurability.</p></li>
							</ul>
						</li>
						<li class="product compliantgroupitem"><p class="servText">(3) The consumer furnishing any collateral that is a requirement for the extension of the credit or insurance that was</p>
							<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(A) established before selection of the consumer for the offer of credit or insurance; and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(B) disclosed to the consumer in the offer of credit or insurance.</p></li>
							</ul>
						</li>
				</ul>
				<p class="answer">(m) Credit or insurance transaction that is not initiated by the consumer. The term"credit or insurance transaction that is not initiated by the consumer" does not include the use of a consumer report by a person with which the consumer has an account or insurance policy, for purposes of</p>
				<ul class="product compliantgroup">
						<li class="product compliantgroupitem"><p class="servText">(1) reviewing the account or insurance policy; or</p></li>
						<li class="product compliantgroupitem"><p class="servText">(2) collecting the account.</p></li>
				</ul>
				<p class="answer">(n) State. The term "State" means any State, the Commonwealth of Puerto Rico, the District of Columbia, and any territory or possession of the United States.</p>
				<p class="answer">(o) Excluded communications. A communication is described in this subsection if it is a communication</p>
				<ul class="product compliantgroup">
						<li class="product compliantgroupitem"><p class="servText">(1) that, but for subsection (d)(2)(D), would be an investigative consumer report;</p></li>
						<li class="product compliantgroupitem"><p class="servText">(2) that is made to a prospective employer for the purpose of</p>
							<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(A) procuring an employee for the employer; or</p></li>
									<li class="product compliantgroupitem"><p class="servText">(B) procuring an opportunity for a natural person to work for the employer;</p></li>
							</ul>
						</li>
						<li class="product compliantgroupitem"><p class="servText">(3) that is made by a person who regularly performs such procurement;</p></li>
						<li class="product compliantgroupitem"><p class="servText">(4) that is not used by any person for any purpose other than a purpose described in subparagraph (A) or (B) of paragraph (2); and</p></li>
						<li class="product compliantgroupitem"><p class="servText">(5) with respect to which</p>
							<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(A) the consumer who is the subject of the communication</p>
										<ul class="product compliantgroup">
												<li class="product compliantgroupitem"><p class="servText">(i) consents orally or in writing to the nature and scope of the communication, before the collection of any information for the purpose of making the communication;</p></li>
												<li class="product compliantgroupitem"><p class="servText">(ii) consents orally or in writing to the making of the communication to a prospective employer, before the making of the communication; and</p></li>
												<li class="product compliantgroupitem"><p class="servText">(iii) in the case of consent under clause (i) or (ii) given orally, is provided written confirmation of that consent by the person making the communication, not later than 3 business days after the receipt of the consent by that person;</p></li>
										</ul>
									</li>
									<li class="product compliantgroupitem"><p class="servText">(B) the person who makes the communication does not, for the purpose of making the communication, make any inquiry that if made by a prospective employer of the consumer who is the subject of the communication would violate any applicable Federal or State equal employment opportunity law or regulation; and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(C) the person who makes the communication</p>
										<ul class="product compliantgroup">
												<li class="product compliantgroupitem"><p class="servText">(i) discloses in writing to the consumer who is the subject of the communication, not later than 5 business days after receiving any request from the consumer for such disclosure, the nature and substance of all information in the consumer's file at the time of the request, except that the sources of any information that is acquired solely for use in making the communication and is actually used for no other purpose, need not be disclosed other than under appropriate discovery procedures in any court of competent jurisdiction in which an action is brought; and</p></li>
												<li class="product compliantgroupitem"><p class="servText">(ii) notifies the consumer who is the subject of the communication, in writing, of the consumer's right to request the information described in clause (i).</p></li>
										</ul>
									</li>
							</ul>
						</li>
				</ul>
				<p class="answer">(p) Consumer reporting agency that compiles and maintains files on consumers on a nationwide basis. The term "consumer reporting agency that compiles and maintains files on consumers on a nationwide basis" means a consumer reporting agency that regularly engages in the practice of assembling or evaluating, and maintaining, for the purpose of furnishing consumer reports to third parties bearing on a consumer's credit worthiness, credit standing, or credit capacity, each of the following regarding consumers residing nationwide:</p>
				<ul class="product compliantgroup">
						<li class="product compliantgroupitem"><p class="servText">(1) Public record information.</p></li>
						<li class="product compliantgroupitem"><p class="servText">(2) Credit account information from persons who furnish that information regularly and in the ordinary course of business.
						</p></li>
				</ul>
				<p class="answer">(q) DEFINITIONS RELATING TO FRAUD ALERTS-</p>
				<ul class="product compliantgroup">
						<li class="product compliantgroupitem"><p class="servText">(1) ACTIVE DUTY MILITARY CONSUMER- The term 'active duty military consumer' means a consumer in military service who--</p>
							<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(A) is on active duty (as defined in section 101(d)(1) of title 10, United States Code) or is a reservist performing duty under a call or order to active duty under a provision of law referred to in section 101(a)(13) of title 10, United States Code; and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(B) is assigned to service away from the usual duty station of the consumer.</p></li>
							</ul>
						</li>
						<li class="product compliantgroupitem"><p class="servText">(2) FRAUD ALERT; ACTIVE DUTY ALERT- The terms 'fraud alert' and 'active duty alert' mean a statement in the file of a consumer that--
						</p>
							<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(A) notifies all prospective users of a consumer report relating to the consumer that the consumer may be a victim of fraud, including identity theft, or is an active duty military consumer, as applicable; and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(B) is presented in a manner that facilitates a clear and conspicuous view of the statement described in subparagraph (A) by any person requesting such consumer report.</p></li>
							</ul>
						</li>
						<li class="product compliantgroupitem"><p class="servText">(3) IDENTITY THEFT- The term 'identity theft' means a fraud committed using the identifying information of another person, subject to such further definition as the Commission may prescribe, by regulation.</p></li>
						<li class="product compliantgroupitem"><p class="servText">(4) IDENTITY THEFT REPORT- The term 'identity theft report' has the meaning given that term by rule of the Commission, and means, at a minimum, a report--</p>
							<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(A) that alleges an identity theft;</p></li>
									<li class="product compliantgroupitem"><p class="servText">(B) that is a copy of an official, valid report filed by a consumer with an appropriate Federal, State, or local law enforcement agency, including the United States Postal Inspection Service, or such other government agency deemed appropriate by the Commission; and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(C) the filing of which subjects the person filing the report to criminal penalties relating to the filing of false information if, in fact, the information in the report is false.</p></li>
							</ul>
						</li>
						<li class="product compliantgroupitem"><p class="servText">(5) NEW CREDIT PLAN- The term 'new credit plan' means a new account under an open end credit plan (as defined in section 103(i) of the Truth in Lending Act) or a new credit transaction not under an open end credit plan.</p></li>
				</ul>
				<p class="answer">(r) Credit and Debit Related Terms--</p>
				<ul class="product compliantgroup">
						<li class="product compliantgroupitem"><p class="servText">(1) CARD ISSUER- The term 'card issuer' means--</p>
							<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(A) a credit card issuer, in the case of a credit card; and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(B) a debit card issuer, in the case of a debit card.</p></li>
							</ul>
						</li>
						<li class="product compliantgroupitem"><p class="servText">(2) CREDIT CARD- The term 'credit card' has the same meaning as in section 103 of the Truth in Lending Act.
						<li class="product compliantgroupitem"><p class="servText">(3) DEBIT CARD- The term 'debit card' means any card issued by a financial institution to a consumer for use in initiating an electronic fund transfer from the account of the consumer at such financial institution, for the purpose of transferring money between accounts or obtaining money, property, labor, or services.
						<li class="product compliantgroupitem"><p class="servText">(4) ACCOUNT AND ELECTRONIC FUND TRANSFER- The terms 'account' and 'electronic fund transfer' have the same meanings as in section 903 of the Electronic Fund Transfer Act.
						<li class="product compliantgroupitem"><p class="servText">(5) CREDIT AND CREDITOR- The terms 'credit' and 'creditor' have the same meanings as in section 702 of the Equal Credit Opportunity Act.
						</p></li>
				</ul>
				<p class="answer">(s) FEDERAL BANKING AGENCY- The term 'Federal banking agency' has the same meaning as in section 3 of the Federal Deposit Insurance Act.</p>
				<p class="answer">(t) FINANCIAL INSTITUTION- The term 'financial institution' means a State or National bank, a State or Federal savings and loan association, a mutual savings bank, a State or Federal credit union, or any other person that, directly or indirectly, holds a transaction account (as defined in section 19(b) of the Federal Reserve Act) belonging to a consumer.</p>
				<p class="answer">(u) RESELLER- The term 'reseller' means a consumer reporting agency that--</p>
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">(1) assembles and merges information contained in the database of another consumer reporting agency or multiple consumer reporting agencies concerning any consumer for purposes of furnishing such information to any third party, to the extent of such activities; and</p></li>
					<li class="product compliantgroupitem"><p class="servText">(2) does not maintain a database of the assembled or merged information from which new consumer reports are produced.</p></li>
				</ul>
				<p class="answer">(v) COMMISSION- The term 'Commission' means the Federal Trade Commission.</p>
				<p class="answer">(w) NATIONWIDE SPECIALTY CONSUMER REPORTING AGENCY- The term 'nationwide specialty consumer reporting agency' means a consumer reporting agency that compiles and maintains files on consumers on a nationwide basis relating to--</p>
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">(1) medical records or payments;</p></li>
					<li class="product compliantgroupitem"><p class="servText">(2) residential or tenant history;</p></li>
					<li class="product compliantgroupitem"><p class="servText">(3) check writing history;</p></li>
					<li class="product compliantgroupitem"><p class="servText">(4) employment history; or</p></li>
					<li class="product compliantgroupitem"><p class="servText">(5) insurance claims.</p></li>
				</ul>
				<p class="answer">(x) EXCLUSION OF CERTAIN COMMUNICATIONS FOR EMPLOYEE INVESTIGATIONS-</p>
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">(1) COMMUNICATIONS DESCRIBED IN THIS SUBSECTION- A communication is described in this subsection if--</p>
						<ul class="product compliantgroup">
							<li class="product compliantgroupitem"><p class="servText">(A) but for subsection (d)(2)(D), the communication would be a consumer report;</p></li>
							<li class="product compliantgroupitem"><p class="servText">(B) the communication is made to an employer in connection with an investigation of--</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) suspected misconduct relating to employment; or</p></li>
									<li class="product compliantgroupitem"><p class="servText">(ii) compliance with Federal, State, or local laws and regulations, the rules of a self-regulatory organization, or any preexisting written policies of the employer;</p></li>
								</ul>
							</li>
							<li class="product compliantgroupitem"><p class="servText">(C) the communication is not made for the purpose of investigating a consumer's credit worthiness, credit standing, or credit capacity; and</p></li>
							<li class="product compliantgroupitem"><p class="servText">(D) the communication is not provided to any person except--</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) to the employer or an agent of the employer;</p></li>
									<li class="product compliantgroupitem"><p class="servText">(ii) to any Federal or State officer, agency, or department, or any officer, agency, or department of a unit of general local government;</p></li>
									<li class="product compliantgroupitem"><p class="servText">(iii) to any self-regulatory organization with regulatory authority over the activities of the employer or employee;</p></li>
									<li class="product compliantgroupitem"><p class="servText">(iv) as otherwise required by law; or</p></li>
									<li class="product compliantgroupitem"><p class="servText">(v) pursuant to section 608.</p></li>
								</ul>
							</li>
							<li class="product compliantgroupitem"><p class="servText">(5) insurance claims.</p></li>
						</ul>
					</li>
					<li class="product compliantgroupitem"><p class="servText">(2) SUBSEQUENT DISCLOSURE- After taking any adverse action based in whole or in part on a communication described in paragraph (1), the employer shall disclose to the consumer a summary containing the nature and substance of the communication upon which the adverse action is based, except that the sources of information acquired solely for use in preparing what would be but for subsection (d)(2)(D) an investigative consumer report need not be disclosed.</p></li>
					<li class="product compliantgroupitem"><p class="servText">(3) SELF-REGULATORY ORGANIZATION DEFINED- For purposes of this subsection, the term 'self-regulatory organization' includes any self-regulatory organization (as defined in section 3(a)(26) of the Securities Exchange Act of 1934), any entity established under title I of the Sarbanes-Oxley Act of 2002, any board of trade designated by the Commodity Futures Trading Commission, and any futures association registered with such Commission.</p></li>
				</ul>
			</div>
		</div>
		<div class="row left">
			<button type="button" class="building btn btn-info btn-default btn-lg btn-block" data-toggle="collapse" data-target="#content4">§ 604. Permissible purposes of consumer reports [15 U.S.C. § 1681b]</button>
			<div id="content4" class="collapse">
				<p class="answer">(a) In general. Subject to subsection (c), any consumer reporting agency may furnish a consumer report under the following circumstances and no other:</p>
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">(1) In response to the order of a court having jurisdiction to issue such an order, or a subpoena issued in connection with proceedings before a Federal grand jury.</p></li>
					<li class="product compliantgroupitem"><p class="servText">(2) In accordance with the written instructions of the consumer to whom it relates.</p></li>
					<li class="product compliantgroupitem"><p class="servText">(3) To a person which it has reason to believe</p>
						<ul class="product compliantgroup">
							<li class="product compliantgroupitem"><p class="servText">(A) intends to use the information in connection with a credit transaction involving the consumer on whom the information is to be furnished and involving the extension of credit to, or review or collection of an account of, the consumer; or</p></li>
							<li class="product compliantgroupitem"><p class="servText">(B) intends to use the information for employment purposes; or</p></li>
							<li class="product compliantgroupitem"><p class="servText">(C) intends to use the information in connection with the underwriting of insurance involving the consumer; or</p></li>
							<li class="product compliantgroupitem"><p class="servText">(D) intends to use the information in connection with a determination of the consumer's eligibility for a license or other benefit granted by a governmental instrumentality required by law to consider an applicant's financial responsibility or status; or</p></li>
							<li class="product compliantgroupitem"><p class="servText">(E) intends to use the information, as a potential investor or servicer, or current insurer, in connection with a valuation of, or an assessment of the credit or prepayment risks associated with, an existing credit obligation; or</p></li>
							<li class="product compliantgroupitem"><p class="servText">(F) otherwise has a legitimate business need for the information</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) in connection with a business transaction that is initiated by the consumer; or</p></li>
									<li class="product compliantgroupitem"><p class="servText">(ii) to review an account to determine whether the consumer continues to meet the terms of the account.</p></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="product compliantgroupitem"><p class="servText">(4) In response to a request by the head of a State or local child support enforcement agency (or a State or local government official authorized by the head of such an agency), if the person making the request certifies to the consumer reporting agency that</p>
						<ul class="product compliantgroup">
							<li class="product compliantgroupitem"><p class="servText">(A) the consumer report is needed for the purpose of establishing an individual's capacity to make child support payments or determining the appropriate level of such payments;</p></li>
							<li class="product compliantgroupitem"><p class="servText">(B) the paternity of the consumer for the child to which the obligation relates has been established or acknowledged by the consumer in accordance with State laws under which the obligation arises (if required by those laws);</p></li>
							<li class="product compliantgroupitem"><p class="servText">(C) the person has provided at least 10 days' prior notice to the consumer whose report is requested, by certified or registered mail to the last known address of the consumer, that the report will be requested; and</p></li>
							<li class="product compliantgroupitem"><p class="servText">(D) the consumer report will be kept confidential, will be used solely for a purpose described in subparagraph (A), and will not be used in connection with any other civil, administrative, or criminal proceeding, or for any other purpose.</p></li>
						</ul>
					</li>
					<li class="product compliantgroupitem"><p class="servText">(5) To an agency administering a State plan under Section 454 of the Social Security Act (42 U.S.C. § 654) for use to set an initial or modified child support award.</p></li>
				</ul>
				<p class="answer">(b) Conditions for furnishing and using consumer reports for employment purposes.</p>
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">(1) Certification from user. A consumer reporting agency may furnish a consumer report for employment purposes only if</p>
						<ul class="product compliantgroup">
							<li class="product compliantgroupitem"><p class="servText">(A) the person who obtains such report from the agency certifies to the agency that</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) the person has complied with paragraph (2) with respect to the consumer report, and the person will comply with paragraph (3) with respect to the consumer report if paragraph (3) becomes applicable; and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(ii) information from the consumer report will not be used in violation of any applicable Federal or State equal employment opportunity law or regulation; and</p></li>
								</ul>
							</li>
							<li class="product compliantgroupitem"><p class="servText">(B) the consumer reporting agency provides with the report, or has previously provided, a summary of the consumer's rights under this title, as prescribed by the Federal Trade Commission under section 609(c)(3) [§ 1681g].</p></li>
						</ul>	
					</li>
					<li class="product compliantgroupitem"><p class="servText">(2) Disclosure to consumer.</p>
						<ul class="product compliantgroup">
							<li class="product compliantgroupitem"><p class="servText">(A) In general. Except as provided in subparagraph (B), a person may not procure a consumer report, or cause a consumer report to be procured, for employment purposes with respect to any consumer, unless--</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) a clear and conspicuous disclosure has been made in writing to the consumer at any time before the report is procured or caused to be procured, in a document that consists solely of the disclosure, that a consumer report may be obtained for employment purposes; and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(ii) the consumer has authorized in writing (which authorization may be made on the document referred to in clause (i)) the procurement of the report by that person.</p></li>
								</ul>
							</li>
							<li class="product compliantgroupitem"><p class="servText">(B) Application by mail, telephone, computer, or other similar means. If a consumer described in subparagraph (C) applies for employment by mail, telephone, computer, or other similar means, at any time before a consumer report is procured or caused to be procured in connection with that application--</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) the person who procures the consumer report on the consumer for employment purposes shall provide to the consumer, by oral, written, or electronic means, notice that a consumer report may be obtained for employment purposes, and a summary of the consumer's rights under section 615(a)(3); and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(ii) the consumer shall have consented, orally, in writing, or electronically to the procurement of the report by that person.</p></li>
								</ul>
							</li>
							<li class="product compliantgroupitem"><p class="servText">(C) Scope. Subparagraph (B) shall apply to a person procuring a consumer report on a consumer in connection with the consumer's application for employment only if--</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) the consumer is applying for a position over which the Secretary of Transportation has the power to establish qualifications and maximum hours of service pursuant to the provisions of section 31502 of title 49, or a position subject to safety regulation by a State transportation agency; and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(ii) as of the time at which the person procures the report or causes the report to be procured the only interaction between the consumer and the person in connection with that employment application has been by mail, telephone, computer, or other similar means.</p></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="product compliantgroupitem"><p class="servText">(3) Conditions on use for adverse actions.</p>
						<ul class="product compliantgroup">
							<li class="product compliantgroupitem"><p class="servText">(A) In general. Except as provided in subparagraph (B), in using a consumer report for employment purposes, before taking any adverse action based in whole or in part on the report, the person intending to take such adverse action shall provide to the consumer to whom the report relates--</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) a copy of the report; and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(ii) a description in writing of the rights of the consumer under this title, as prescribed by the Federal Trade Commission under section 609(c)(3).</p></li>
								</ul>
							</li>
							<li class="product compliantgroupitem"><p class="servText">(B) Application by mail, telephone, computer, or other similar means.</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) If a consumer described in subparagraph (C) applies for employment by mail, telephone, computer, or other similar means, and if a person who has procured a consumer report on the consumer for employment purposes takes adverse action on the employment application based in whole or in part on the report, then the person must provide to the consumer to whom the report relates, in lieu of the notices required under subparagraph (A) of this section and under section 615(a), within 3 business days of taking such action, an oral, written or electronic notification--</p>
										<ul class="product compliantgroup">
											<li class="product compliantgroupitem"><p class="servText">(I) that adverse action has been taken based in whole or in part on a consumer report received from a consumer reporting agency;</p></li>
											<li class="product compliantgroupitem"><p class="servText">(II) of the name, address and telephone number of the consumer reporting agency that furnished the consumer report (including a toll-free telephone number established by the agency if the agency compiles and maintains files on consumers on a nationwide basis);</p></li>
											<li class="product compliantgroupitem"><p class="servText">(III) that the consumer reporting agency did not make the decision to take the adverse action and is unable to provide to the consumer the specific reasons why the adverse action was taken; and</p></li>
											<li class="product compliantgroupitem"><p class="servText">(IV) that the consumer may, upon providing proper identification, request a free copy of a report and may dispute with the consumer reporting agency the accuracy or completeness of any information in a report.</p></li>
										</ul>
									</li>
									<li class="product compliantgroupitem"><p class="servText">(ii) If, under clause (B)(i)(IV), the consumer requests a copy of a consumer report from the person who procured the report, then, within 3 business days of receiving the consumer's request, together with proper identification, the person must send or provide to the consumer a copy of a report and a copy of the consumer's rights as prescribed by the Federal Trade Commission under section 609(c)(3).</p></li>
								</ul>
							</li>
							<li class="product compliantgroupitem"><p class="servText">(C) Scope. Subparagraph (B) shall apply to a person procuring a consumer report on a consumer in connection with the consumer's application for employment only if--</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) the consumer is applying for a position over which the Secretary of Transportation has the power to establish qualifications and maximum hours of service pursuant to the provisions of section 31502 of title 49, or a position subject to safety regulation by a State transportation agency; and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(ii) as of the time at which the person procures the report or causes the report to be procured the only interaction between the consumer and the person in connection with that employment application has been by mail, telephone, computer, or other similar means.</p></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="product compliantgroupitem"><p class="servText">(4) Exception for national security investigations.</p>
						<ul class="product compliantgroup">
							<li class="product compliantgroupitem"><p class="servText">(A) In general. In the case of an agency or department of the United States Government which seeks to obtain and use a consumer report for employment purposes, paragraph (3) shall not apply to any adverse action by such agency or department which is based in part on such consumer report, if the head of such agency or department makes a written finding that--</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) the consumer report is relevant to a national security investigation of such agency or department;</p></li>
									<li class="product compliantgroupitem"><p class="servText">(ii) the investigation is within the jurisdiction of such agency or department;</p></li>
									<li class="product compliantgroupitem"><p class="servText">(iii) there is reason to believe that compliance with paragraph (3) will--</p>
										<ul class="product compliantgroup">
											<li class="product compliantgroupitem"><p class="servText">(I) endanger the life or physical safety of any person;</p></li>
											<li class="product compliantgroupitem"><p class="servText">(II) result in flight from prosecution;</p></li>
											<li class="product compliantgroupitem"><p class="servText">(III) result in the destruction of, or tampering with, evidence relevant to the investigation;</p></li>
											<li class="product compliantgroupitem"><p class="servText">(IV) result in the intimidation of a potential witness relevant to the investigation;</p></li>
											<li class="product compliantgroupitem"><p class="servText">(V) result in the compromise of classified information; or</p></li>
											<li class="product compliantgroupitem"><p class="servText">(VI) otherwise seriously jeopardize or unduly delay the investigation or another official proceeding.</p></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="product compliantgroupitem"><p class="servText">(B) Notification of consumer upon conclusion of investigation. Upon the conclusion of a national security investigation described in subparagraph (A), or upon the determination that the exception under subparagraph (A) is no longer required for the reasons set forth in such subparagraph, the official exercising the authority in such subparagraph shall provide to the consumer who is the subject of the consumer report with regard to which such finding was made--</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) a copy of such consumer report with any classified information redacted as necessary;</p></li>
									<li class="product compliantgroupitem"><p class="servText">(ii) notice of any adverse action which is based, in part, on the consumer report; and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(iii) the identification with reasonable specificity of the nature of the investigation for which the consumer report was sought.</p></li>
								</ul>
							</li>
							<li class="product compliantgroupitem"><p class="servText">(C) Delegation by head of agency or department. For purposes of subparagraphs (A) and (B), the head of any agency or department of the United States Government may delegate his or her authorities under this paragraph to an official of such agency or department who has personnel security responsibilities and is a member of the Senior Executive Service or equivalent civilian or military rank.</p></li>
							<li class="product compliantgroupitem"><p class="servText">(D) Report to the congress. Not later than January 31 of each year, the head of each agency and department of the United States Government that exercised authority under this paragraph during the preceding year shall submit a report to the Congress on the number of times the department or agency exercised such authority during the year.</p></li>
							<li class="product compliantgroupitem"><p class="servText">(E) Definitions. For purposes of this paragraph, the following definitions shall apply:</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) Classified information. The term 'classified information' means information that is protected from unauthorized disclosure under Executive Order No. 12958 or successor orders.</p></li>
									<li class="product compliantgroupitem"><p class="servText">(ii) National security investigation. The term 'national security investigation' means any official inquiry by an agency or department of the United States Government to determine the eligibility of a consumer to receive access or continued access to classified information or to determine whether classified information has been lost or compromised.</p></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
				<p class="answer">(c) Furnishing reports in connection with credit or insurance transactions that are not initiated by the consumer.</p>
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">(1) In general. A consumer reporting agency may furnish a consumer report relating to any consumer pursuant to subparagraph (A) or (C) of subsection (a)(3) in connection with any credit or insurance transaction that is not initiated by the consumer only if</p>
						<ul class="product compliantgroup">
							<li class="product compliantgroupitem"><p class="servText">(A) the consumer authorizes the agency to provide such report to such person; or</p></li>
							<li class="product compliantgroupitem"><p class="servText">(B)</p>
								<ul class="product compliantgroup">
									<li class="product compliantgroupitem"><p class="servText">(i) the transaction consists of a firm offer of credit or insurance;</p></li>
									<li class="product compliantgroupitem"><p class="servText">(ii) the consumer reporting agency has complied with subsection (e); and</p></li>
									<li class="product compliantgroupitem"><p class="servText">(iii) there is not in effect an election by the consumer, made in accordance with subsection (e), to have the consumer's name and address excluded from lists of names provided by the agency pursuant to this paragraph.</p></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="product compliantgroupitem"><p class="servText">(2) Limits on information received under paragraph (1)(B). A person may receive pursuant to paragraph (1)(B) only</p>
						<ul class="product compliantgroup">
							<li class="product compliantgroupitem"><p class="servText">(A) the name and address of a consumer;</p></li>
							<li class="product compliantgroupitem"><p class="servText">(B) an identifier that is not unique to the consumer and that is used by the person solely for the purpose of verifying the identity of the consumer; and</p></li>
							<li class="product compliantgroupitem"><p class="servText">(C) other information pertaining to a consumer that does not identify the relationship or experience of the consumer with respect to a particular creditor or other entity.</p></li>
						</ul>
					</li>
					<li class="product compliantgroupitem"><p class="servText">(3) Information regarding inquiries. Except as provided in section 609(a)(5) [§ 1681g], a consumer reporting agency shall not furnish to any person a record of inquiries in connection with a credit or insurance transaction that is not initiated by a consumer.</p></li>
				</ul>
				<p class="answer">(d) Reserved.</p>
			</div>
		</div>
		<!--<div class="row left">
			<button type="button" class="building btn btn-info btn-default btn-lg btn-block" data-toggle="collapse" data-target="#content5">Credit Scams</button>
			<div id="content5" class="collapse">
				<p class="answer">Advance-fee loan scams involve guaranteeing a credit card in advance for a fee before you even apply. These offers are illegal and often target people with credit problems. If someone calls you at home making this offer, tell the person not to call anymore and hang up. </p>
				<p class="answer">Another thing to watch out for is deceptive ads promising debt relief, when in fact they are offering bankruptcy. Bankruptcy stays on your credit record for 10 years and hinders your ability to get credit. Before agreeing to any debt-relief services it's important to get all the details.</p>
			</div>
		</div>-->
	</div>
</div><!-- End of container-fluid Div -->