<div class="container-fluid">
    <img class="slides img-fluid" src="assets/img/original/header1.jpg">
</div>

    <div class="row underSlide">
        <div class="row center">
 <h1>Credit ANALYZER</h1>
            <h3>Unsure if you need credit enhancement? Analyze your credit for only $49!<a href="/faststart/credit-analyzer.html"> Get Started &raquo;</a>
            </h3>
        </div>
    </div>

<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="row">
            <div class="col-sm-12 col-md-6 center">
                <img class="welcome-icons" src="assets/img/original//history.png"><h3>HISTORY</h3>    <p class="servText">Have you ever made late payments?</p>
            </div>
            <div class="col-sm-12 col-md-6 center" >
                 <img src="assets/img/original//account-type.png"><h3>TYPES</h3>    <p class="servText">What types of accounts do you have?</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="row">
            <div class="col-sm-12 col-md-6 center" >
                 <img src="assets/img/original//account-age.png"><h3>ACCT.AGE</h3>    <p class="servText">How old are your credit accounts?</p>
            </div>
            <div class="col-sm-12 col-md-6 center" >
                 <img src="assets/img/original//new-credit.png"><h3>NEW CREDIT</h3><p class="servText">Have you opened a new account lately?</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="row">
            <div class="col-sm-12 col-md-6 center" >
                 <img class="welcome-icons" src="assets/img/original//balances.png"><h3>BALANCES</h3>    <p class="servText">Do you have high balances?</p>
            </div>
            <div class="col-sm-12 col-md-6 center" >
             <a href="/faststart/credit-analyzer.html"  class="myButton-1" >Analyze <h3>My Credit >></h3></a> 
            </div>
        </div>
    </div>
</div>

<div class="crumb"></div>

<div class="row center underSlide">
        <h1>Credit ENHANCEMENT 
        <a href="/faststart/credit-repair.html" class="myButton-1">Start Now >></a></h1>
        <h3>Full-Service Credit Enhancement for only $99/month*!
        <a href="/faststart/credit-repair.html">Get Started &raquo;</a></h3>
</div>

<div class="row center break">
        <a href="fix-credit-products.html">Learn more about $99/mo Credit Enhancement </a>
</div>

<div class="row"> 
<div class="col-sm-4">
        <div class="row">
            <a href="faststart/credit-repair.html">
            <p class="orderCent">
            <i class="fa fa-arrow-right" aria-hidden="true"> Review your Credit Profile</i></p></a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <a href="faststart/credit-repair.html">
            <p class="orderCent">
            <i class="fa fa-arrow-right" aria-hidden="true"> Select your Inaccurate Items</i></p></a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <a href="faststart/credit-repair.html">
            <p class="orderCent">
            <i class="fa fa-arrow-right" aria-hidden="true"> Riverwalk Handles The Rest</i></p></a>
        </div>
    </div>
</div>

<div class="crumb"></div>


<div class="row pad"> 
<div class="col-sm-4">
        <div class="row center txtFormat">
        <h3>Get immediate access to your credit profile, quickly analyze your credit items, and instantly begin disputing the errors and inaccurate items on your credit report. All for one low price!</h3>
        </div>
    </div>
    <a href="/faststart/credit-repair.html">
    <div class="col-sm-4">
        <div class="row center">
            <a href="/faststart/credit-repair.html"  class="myButton-2 center"><h3 class="center">ENHANCE <br>MY CREDIT</h3></a>  
        </div>
    </div>
    </a>
    <div class="col-sm-4">
        <div class="row center txtFormat">
            <ul>
            <li>A full-service credit enhancement program for one low price.</li>
            <li>Fully compliant with all Federal regulations, including the <a href="fair-credit-reporting-act.html">FCRA</a> and <a href="credit-repair-organizations-act.html">CROA</a>.</li>
            <li>Improve the accuracy of your credit reports at all 3 major Credit Bureaus.</li>
            <li>It's easy - we're here to help you every step of the way.</li>
            <li>Begin your Credit Enhancement now. It takes just minutes to get started.</li>
            </ul>
        </div>
    </div>
</div>

