<div class="container-fluid">
    <img class="slides img-fluid" src="/assets/img/original/bigbluebox.jpg">
	<div class="row primaryUnderSlide">
        <div class="row center">
            <h1>Benefits of Credit Enhancement by Riverwalk</h1>
        </div>
    </div>
	<div class="product row primaryUnderSlide">
        <div class="row center">
            <h1><i class="product fa fa-balance-scale" aria-hidden="true"></i>FTC COMPLIANT</h1>
            <h2>Riverwalk's Credit Enhancement is 100% FTC compliant.</h2>
            <h3>Riverwalk Credit is fully compliant with all Federal Trade Commission regulations, including the <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/fora']">Fair Credit Reporting Act</a> and the <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/croa']">Credit Repair Organizations Act</a>.</h3>
			<h4>According to the Federal Trade Commission, there are several signs that may mean a credit repair company is non-compliant:</h4>			
        </div>
        <div class="row"> 
            <div class="col-sm-6">
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">The company wants you to pay for credit repair services before they provide any services. Under the Credit Repair Organizations Act, credit repair companies cannot require you to pay until they have completed the services they have promised.</p></li>
					<li class="product compliantgroupitem"><p class="servText">The company recommends that you do not contact any of the three major national credit reporting companies directly.</p></li>
					<li class="product compliantgroupitem"><p class="servText">The company doesn't tell you your rights and what you can do for yourself for free.</p></li>
				</ul>
            </div>
			<div class="col-sm-6">
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">The company tells you they can get rid of most or all of the negative credit information in your credit report, even if that information is accurate and current.</p></li>
					<li class="product compliantgroupitem"><p class="servText">The company advises you to dispute all the information in your credit report, regardless of its accuracy or timeliness.</p></li>
					<li class="product compliantgroupitem"><p class="servText">The company suggests that you try to invent a "new" credit identity - and then, a new credit report - by applying for an Employer Identification Number to use instead of your Social Security number.</p></li>
				</ul>
            </div>            
        </div>
		<div class="row center">
            <h3>Credit News</h3>
			<p>For Release: October 23, 2008</p>
            <a href="#"><h4>"Operation Clean Sweep": FTC and State Agencies Target 36 "Credit Repair" Operations »</h4></a>
            <p>The Federal Trade Commission and 24 state agencies today announced a crackdown on 33 operations that deceptively claim they can remove negative information from consumers' credit reports, even if that information is accurate and timely. In the seven FTC actions announced today, the Commission seeks to halt the defendants' allegedly unlawful business practices, prohibit further violations, and make them pay consumer redress and give up their ill-gotten gains. In addition, the FTC announced three related credit repair cases earlier this year. <a href="#">Read the full story on the FTC website »</a></p>		
        </div>
    </div>
	<div class="crumb"></div>
	<div class="product row primaryUnderSlide">
        <div class="row center">
            <h1><i class="product fa fa-lock" aria-hidden="true"></i>HASSLE-FREE</h1>
            <h3>Credit Enhancement with a Guarantee!</h3>
            <h4>Riverwalk will continue to dispute errors for up to 6 months.</h4>			
        </div>
        <div class="row"> 
			<p>Riverwalk is so confident that our services will work, that we will continue to work on your credit report for up to an additional 6 months at no extra cost to you!</p>
			<div class="col-sm-2">
			</div>
            <div class="col-sm-4">
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">Errors are corrected.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Misrepresentations are changed.</p></li>
				</ul>
            </div>
			<div class="col-sm-4">
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">Unverifiable credit items are verified.</p></li>
					<li class="product compliantgroupitem"><p class="servText">Inaccuracies are revised or proven accurate</p></li>
				</ul>
            </div>            
			<div class="col-sm-2">
			</div>
        </div>
		<div class="row center">
			<p>And we'll keep doing that for six additional months, or until all the information on your credit report has been verified as accurate by the bureaus, whichever comes first. And you'll never pay more than $99 per month.</p>        
		</div>
    </div>
	<div class="crumb"></div>
	<div class="product row primaryUnderSlide">
        <div class="row center">
            <h1><i class="product fa fa-long-arrow-down" aria-hidden="true"></i>LOW PRICE</h1>
            <h3>Riverwalk offers Credit Enhancement for one low price - only $99/month*.</h3>
        </div>
        <div class="row"> 
			<p>Why should I hire Riverwalk to enhance my credit? Can't I just do it myself?</p>
			<div class="col-sm-2">
			</div>
            <div class="col-sm-4">
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">Do you have time to read your credit reports each month?</p></li>
					<li class="product compliantgroupitem"><p class="servText">Do you know what to look for?</p></li>
					<li class="product compliantgroupitem"><p class="servText">Do you know what to say?</p></li>
					<li class="product compliantgroupitem"><p class="servText">Do you know how to analyze your credit reports for errors and inaccuracies?</p></li>
				</ul>
            </div>
			<div class="col-sm-4">
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">Do you know your rights concerning your credit?</p></li>
					<li class="product compliantgroupitem"><p class="servText">Do you have time to write letters to the credit bureaus each month?</p></li>
					<li class="product compliantgroupitem"><p class="servText">What do you say to each of the credit bureaus concerning errors on your credit reports?</p></li>
					<li class="product compliantgroupitem"><p class="servText">What do you do about past addresses, credit inquiries, and other types of credit items?</p></li>
				</ul>
            </div>            
			<div class="col-sm-2">
			</div>
        </div>
		<div class="row center">
			<p>If you answer "No" to any of these questions, Riverwalk can help. For one low price, our credit experts will oversee your entire credit enhancement process to ensure you get the best possible results.</p>        
		</div>
    </div>
	<div class="crumb"></div>
	<div class="product row primaryUnderSlide">
        <div class="row center">
            <h1><i class="product fa fa-check" aria-hidden="true"></i>REAL RESULTS</h1>
            <h3>Get Real Results with Riverwalk Credit Enhancement.</h3>
        </div>
        <div class="row"> 
			<p>Enhancing your credit:</p>
			<div class="col-sm-2">
			</div>
            <div class="col-sm-4">
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">We dispute errors, inaccuracies, and misrepresentations on your credit reports.</p></li>
					<li class="product compliantgroupitem"><p class="servText">During the six-month program, Riverwalk will continue to dispute your inaccurate credit items with each round of disputes we send out.</p></li>
				</ul>
            </div>
			<div class="col-sm-4">
				<ul class="product compliantgroup">
					<li class="product compliantgroupitem"><p class="servText">Get 24/7 access to track your Credit Enhancement progress through your personal myRiverwalk account.</p></li>
					<li class="product compliantgroupitem"><p class="servText">After each round of disputes, you will receive your new credit report from each credit bureau at no additional cost!</p></li>
				</ul>
            </div>            
			<div class="col-sm-2">
			</div>
        </div>
		<div class="row center">
			<p>On average, customers experience more than a 50 point increase in their credit score at the end of the six-month Credit Enhancement program.</p>        
		</div>
    </div>
	<div class="crumb"></div>
	<div class="product row primaryUnderSlide">
        <div class="row center">
            <h1><i class="product fa fa-cog" aria-hidden="true"></i>QUICK SETUP</h1>
            <h3>Credit Enhancement by Riverwalk - Quick Setup Process</h3>
        </div>
        <div class="row"> 
			
			<div class="col-sm-2">
			</div>
            <div class="col-sm-4">
				<ul class="product compliantgroup nosymbol">
					<p class="product para">1. Review Your Credit Profile</p>
					<li class="product compliantgroupitem"><p class="servText">Use Riverwalk's credit analysis tools to see what your credit profile says about you. Learn how many credit items you have, and what cleaning up your credit profile could mean to your credit score.</p></li>
					<p class="product para">2. Select your Inaccurate Items</p>
					<li class="product compliantgroupitem nosymbol"><p class="servText">Review each of your credit items. Use our pre-loaded choices to tell us if each credit item is accurate or inaccurate, and why.</p></li>
				</ul>
            </div>
			<div class="col-sm-4">
				<ul class="product compliantgroup nosymbol">
					<p class="product para">3. Credit Experts Review Your Information</p>
					<li class="product compliantgroupitem nosymbol"><p class="servText">After you submit your credit profile, Riverwalk's credit specialists will review your items and make suggestions. Then we will begin disputing on your behalf.</p></li>
					<p class="product para">4. Riverwalk Handles the Rest</p>
					<li class="product compliantgroupitem nosymbol"><p class="servText">All you need to do is send your revised credit reports to Riverwalk each month. We'll update your account and re-submit disputes for additional errors and inaccuracies for up to six months!</p></li>
				</ul>
            </div>            
			<div class="col-sm-2">
			</div>
        </div>
    </div>
    <div class="crumb"></div>
	<div class="row center">
        <h3>Full-Service Credit Enhancement for only $99/month*</h3>
    </div>
    <div class="row"> 
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <a class="signup-link" href="#">
                <button class="btn btn-shield btn-lg btn-block" type="button">Start Now >></button>
            </a>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
	<div class="product crumb"></div>
</div><!-- End of container-fluid Div -->